.main-section{
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
}

.main-section h2{
    color: black;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    text-align: left;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 20px);
    /* overflow: hidden; */
}
@media screen and (max-width: 500px){
    .posts{
        padding: 0;
        width: 100%;
    }
    .main-section{
        padding: 0;
        margin: 0;
    }

}
.more-button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 20px 0;
    background-color: #007bff;
}
.no-more-posts{
    color: black;
    font-size: 15px;
}
.dark-mode.main-section .no-more-posts{
    color: white;
    font-size: 15px;
}