.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #007bff;
    background-color: white;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 24px;
    color: #ffffff;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.5s forwards;
}

.logo i:nth-child(1) {
    animation-delay: 0.1s;
}

.logo i:nth-child(2) {
    animation-delay: 0.2s;
}

.logo i:nth-child(3) {
    animation-delay: 0.3s;
}

.logo i:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo-search-container i{
    font-size: 30px;
    color: #007bff;
}

.logo-search-container{
    display: flex;
    align-items: center;
}
.header .logo-search-container input{
    width: 75%;
    height: 20px;
    padding: 20px 30px;
    border-radius: 40px;
    margin: 0 20px;
    border: none;
    outline: none;
    background-color: #edf3f8;
    font-size: 20px;
    color: #818181;
    transition: 0.3s;
    box-shadow: inset 0 0 5px 0 #d0d0d0;
}
.header .logo-search-container input:focus{
    background-color: #e8eafc;
    border-radius: 0.5 ox siolid #333;
}
.header .logo-search-container input:hover{
    background-color: #e8eafc;
}
.header .logo-search-container input::placeholder{
    color: #ccc;
}
.search-bar{
    position: relative;
}
.search-result{
    position: absolute;
    width: 75%;
    top: 100%;
    left: 44px;
    z-index: 1000;
    box-shadow: 0 0 11px 0 #cecece;
    background-color: transparent;
    /* backdrop-filter: blur(1px); */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.search-item{
    width: calc(100% - 40px);
    padding: 0px 20px;
    background: #fbfbfb;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
}
.search-item:hover{
    background-color: #f1f1f1;
}
.search-item img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.no-results{
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
}
.nav{
    display: flex;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-menu .menu-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5px 10px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    padding : 5px;
    margin: 5px;
}

/* .nav-menu .menu-item::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #333;
    bottom: -2px;
    left: 0;
    transition: 0.3s;
} */
/* .nav-menu .menu-item:hover::after {
    width: 100%;
} */

.nav-menu .menu-item i {
    font-size: 20px;
    padding: 5px;
    color: #007bff;
    transition: 0.3s;
    z-index: 100;
}
.nav-menu .menu-item:hover i{
    color: #333;
}
.user-profile-item p{
    padding: 0;
    margin: 0;
}
.user-profile-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5px 10px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    padding : 5px;
    margin: 5px;
    color: #333;
    font-size: 12px;
    border-radius: 20px;
    background: #f1f1f1;
    z-index: 100;
    border: #333 1px solid;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: none;
    gap: 10px;
}
.user-profile-item img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    padding:0;
    background-color: #333333f1;
    color: white;
    width: 200px;
    align-items: flex-start;
    z-index: 100;
}
.drop-down-icon{
    font-size: 15px;
    color: #007bff;
    transition: 0.3s;
}
.profile-menu-item{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: black 1px solid;
    align-items: center;
    font-size: 16px;
}
.profile-menu-item p{
    opacity: 1; /* Visible when active */
    transform: translateX(0); /* Slide to its original position */
    position: relative;
    left: 0;
    margin-left: 10px;
}
.nav-icon i{
    font-size: 0;
    color: #818181;
    cursor: pointer;
    transition: all 0.3s;
}
.nav-icon i:hover{
    color: #333;
}
.nav-menu .menu-item {
    color: #818181;
}

.nav-menu .active {
    color: white;
    transition: 0.3s;
    background: #3797ff;
    border-radius: 20px;
    z-index: 100;
}
.nav-menu .menu-item p {
    opacity: 0; /* Hidden by default */
    transform: translateX(-20px); /* Positioned to the left */
    transition: all 0.3s ease; /* Animation for visibility and position */
    margin: 0;
    font-size: 15px;
    position: absolute;
    left: -100px;
    padding: 5px;
}

.nav-menu .menu-item.active p {
    opacity: 1; /* Visible when active */
    transform: translateX(0); /* Slide to its original position */
    position: relative;
    left: 0;
}
.nav-menu .active i{
    color: white;
}
/* .nav-menu .active::after {
    width: 100%;
}
.nav-menu .menu-item:hover .active{
    width: 0;
} */
@media screen and (max-width: 700px){
    .user-profile-item>p{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .header{
        padding: 10px 20px;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left : 0;
        padding:0;
        background-color: #333333f1;
        color: white;
        width: calc(100%);
        align-items: flex-start;
        z-index: 100;
    }
    .nav-menu .menu-item{
        width: calc(100% - 40px);
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: flex-start;
        padding: 20px;
        border-bottom: black 1px solid;
    }
    .nav-menu .menu-item p{
        opacity: 1; /* Visible when active */
        transform: translateX(0); /* Slide to its original position */
        position: relative;
        left: 0;
    }
    .nav-menu .menu-item:hover i{
        color: #eee;
    }
    .nav-menu .menu-item::after{
        background-color: #eee;
        transition: 0.5s;
    }
    .nav-icon i{
        font-size: 30px;
        margin-right: 10px;
    }

    /* Active Route */
    .nav-menu .active {
        color: #eee;
    }

    .nav-menu .active i{
        color: #eee;
    }
    .nav-menu .active::after {
        width: 100%;
    }
    .nav-menu .menu-item:hover .active{
        width: 0;
    }
    
}
