.post{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}
.post-details{
    width: calc(100% - 60px);
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    display: flex;
}
.post-body{
    width: calc(100% - 60px);
}
.post .shared-post{
    display: flex;
    padding: 5px 20px;
    border-bottom: 1px solid #333;
    background-color: aliceblue;
    border-radius: 10px 10px 0 0;
    /* width: fit-content; */
    align-items: center;
}
.post .shared-post img{
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
}
.post .shared-post span{
    font-size: 15px;
    color: #333;
}
.post-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px 10px 0 0;
    position: relative;
    margin-bottom: 20px;
}
.post-header-info{
    display: flex;
    width: calc(100% - 40px);
    align-items: center;
    background-color: white;
    position: relative;
    font-size: 15px;
}

.post-header-info .post-author-name:hover{
    color: #0056b3;
}
.post-profile-photo{
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
}

.name-time{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
} 
.name-time p{
    padding: 0;
    margin: 0;
}

.post-user-info{
    display: flex;
    align-items: center;
    gap: 5px;
}
.name-time .post-author-name{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    cursor: pointer;
}
.name-time .post-user-name{
    color: #b2b2b2;
    font-size: 12px;

}
.name-time .post-time{
    font-size: 10px;
    color: #b2b2b2;
    padding: 5px 0 ;
}
.post-options-icon{
    font-size: 20px;
    color: grey;
    cursor: pointer;
    transition: 0.3s;
    /* padding: 10px; */
}
.post-options-icon:hover{
    color: black;
}
.post-options{
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
    width: 150px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    z-index: 10;
    padding: 0;
}

.post-option{
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(216, 237, 255);
    width: 100%;
    /* backdrop-filter: blur(10px); */
}
.post-option:hover{
    background-color: rgb(191, 228, 255);
    color: white;
}

.post-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    position: relative;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word !important;
    word-break: break-word !important;
    padding: 0;
    font-size: 15px;
    background-color: white;
    font-weight: 500;
}
.post-content p{
    margin: 0;
    padding: 0;
    white-space: normal;
    width: 100%;
}
.post-photos {
    margin-top: 10px; 
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    cursor: pointer;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.post-photos .post-photo {
    width: 100%;
}
.post-photos .photo-count{
    position: absolute;
    bottom: -40px;
    width: 100%;
    background-color: #333;
    color: white;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
.post-photos:hover .photo-count{
    bottom: 0;
}
.post-photos .nav-arrow{
    position: absolute;
    font-size: 20px;
    opacity: 0;
    transition: 0.5s;
    padding: 5px;
    border-radius: 50%;
    background-color: #9ac7f7;
    width: 20px;
    height: 20px;
    color: white;
    z-index: 100;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.post-photos:hover .nav-arrow{
    opacity: 1;
}
.post-photos .nav-arrow:hover{
    background-color: #007bff;
    color: black;
}
.post-photos .left-arrow{
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.post-photos .right-arrow{
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.post-photos .remove-photo{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.post-photos .remove-photo:hover{
    background-color: white;
    color: red;
}
.post-photo img{
    width: 100%;
    max-height: 400px;
}
.edit-post{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: grey;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50%;
    min-height: 200px;
    /* backdrop-filter: blur(100px); */
    flex-direction: column;
    z-index: 100;
    top: 100%;
}
.edit-post textarea{
    width: calc(100% - 20px);
    height: 100%;
    border: none;
    background-color: aliceblue;
    font-size: 15px;
    padding: 10px;
    resize: none;
    color: black;
    border: 0.5px #333 solid;
    border-radius: 10px;
}
.edit-post-options{
    cursor: pointer;
    font-size: 20px;
    color: grey;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-post-options button{
    background-color: #007bff;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    transition: all 0.3s;
}
.edit-post-options button:hover{
    background-color: #0056b3;
}
.post-action-details{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.post-like-users{
    position: absolute;
    bottom: 40px;
    left: 0px;
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    z-index: 10;
    padding: 0;
    z-index: 100;
}
.post-like-user{
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(216, 237, 255);
    width: 100%;
    margin: 0;
}
.post-like-user:hover{
    background-color: rgb(201, 230, 255);
    color: #333;
}
.post-like-user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-action-detail{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: grey;
    cursor: pointer;
    height: 50px;
}
.post-action-detail:hover{
    text-decoration: underline;
}
.post-actions{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    gap: 10px;
}
.post-action{
    background-color: rgb(203, 231, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
    position: relative;
    padding: 10px 0;
    border-radius: 10px;
}
.post-action p {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}
.post-action i{
    font-size: 15px;
    margin-right: 10px;
    transition: 0.3s;
}

.post-action:hover{
    background-color: rgb(145, 204, 255);
}
.post-action:first-child:hover  i{
    color: red;
}
.post-action:not(first-child):hover i{
    color: rgb(0, 0, 97);
}
.action-count{
    margin: 10px;
    font-size: 15px;
    color: grey;
    transform: translateY(1px);
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
    position: absolute;
    right: 0;
}

@media screen and (max-width : 500px) {
    .post{
        margin: 0 0 10px 0;
        width: calc(100% - 20px);
    }
    .post-details{
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        width: calc(100% - 20px);    
    }
}