.post-view{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
    min-height: calc(100vh - 53px);
}
.post-view .body{
    justify-content: center;
}
.post-view .post{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}