.loading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-component{
    width: 100%;
    display: flex;
    margin:20px;
    justify-content: center;
    justify-content: center;
}
.loading-component div{
    width: 20px;
    height: 20px;
    background-color:#4b00ff;
    border-radius:50%;
    border:solid transparent;
    margin:10px;
    animation-name: up;
    animation-duration:0.9s;
    animation-iteration-count: infinite;
    /* animation-timing-function:linear; */
    animation-direction: alternate;
}

.loading-component .two{
    animation-delay:0.3s ;
}
.loading-component .three{
    animation-delay:0.6s ;
}
@keyframes up{
    to{
        transform: translatey(-50px);
        opacity: .2;
    }

}