
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #007bff;
    background-color: white;
    /* border-bottom: 1px solid #ccc; */
    position: relative;
    height: 60px;
    width: calc(100% - 40px);
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
}

.logo i {
    font-size: 24px;
    color: #ffffff;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.5s forwards;
}

.logo i:nth-child(1) {
    animation-delay: 0.1s;
}

.logo i:nth-child(2) {
    animation-delay: 0.2s;
}

.logo i:nth-child(3) {
    animation-delay: 0.3s;
}

.logo i:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo-search-container .logo i{
    font-size: 30px;
    color: #007bff;
    cursor: pointer;
}

.logo-search-container{
    display: flex;
    align-items: center;
}
.header .logo-search-container input{
    width: 75%;
    height: 20px;
    padding: 20px 30px;
    border-radius: 40px;
    margin: 0 20px;
    border: none;
    outline: none;
    background-color: #edf3f8;
    font-size: 20px;
    color: #818181;
    transition: 0.3s;
    box-shadow: inset 0 0 5px 0 #d0d0d0;
}
.header .logo-search-container input:focus{
    background-color: #e8eafc;
    border-radius: 0.5 ox siolid #333;
}
.header .logo-search-container input:hover{
    background-color: #e8eafc;
}
.header .logo-search-container input::placeholder{
    color: #ccc;
}
.search-container{
    position: relative;
}
.search-result{
    position: absolute;
    width: 100%;
    /* max-width: 300px; */
    top: 100%;
    z-index: 1000;
    box-shadow: 0 0 11px 0 #cecece;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.search-item{
    width: calc(100% - 40px);
    /* max-width: 300px; */
    padding: 0px 20px;
    background: #fbfbfb;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
}
.search-item:hover{
    background-color: #f1f1f1;
}
.search-item img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.no-results{
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
}
.nav{
    display: flex;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-menu .menu-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5px 10px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    padding : 5px;
    margin: 5px;
}

.nav-menu .menu-item i {
    font-size: 20px;
    padding: 5px;
    color: #007bff;
    transition: 0.3s;
    z-index: 100;
}
.nav-menu .menu-item:hover i{
    color: #333;
}

.notifications{
    position: absolute;
    top: 100%;
    right: 10px;
    width: 300px;
    max-width: 100%;
    background-color: #f3f7ff;
    box-shadow: 0 0 8px 0px #0000005c;
    color: black;
    max-height: 500px;
    overflow-y: auto;
}
.no-notifications{
    position: absolute;
    top: 100%;
    right: 10px;
    width: 300px;
    max-width: 100%;
    background-color: #f3f7ff;
    box-shadow: 0 0 8px 0px #0000005c;
    color: black;
    max-height: 500px;
    font-size: 15px;
}
.notifications::-webkit-scrollbar{
    width: 10px;
    cursor: pointer;
}
.notifications::-webkit-scrollbar-thumb{
    background-color: #79baff;
    border-radius: 10px;
}
.notifications::-webkit-scrollbar-track{
    background-color: #f3f7ff;
}
.notification{
    width: calc(100% - 40px);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 0.3s;
}
.notifications .not-seen{
    background-color: #d8e6ff;
}
.notification:hover{
    background-color: #f1f1f1;
}
.notification img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.notification-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    color: black;
}
.notification-data .notification-content{
    font-size: 12px;
    color: rgb(34, 34, 34);
}
.notification-data p{
    margin: 0;
    padding: 0;
    text-align: left;
}
.notification-user-name{
    font-weight: bold;
    color: black;
}
.notification-time{
    color: #333;
    font-size: 10px;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-count{
    opacity: 1;
    transform: translateY(0);
    position: absolute;
    top: 0;
    z-index: 1000;
    color: white;
    background-color: rgb(255, 70, 70);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-profile-item p{
    padding: 0;
    margin: 0;
}
.user-profile-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5px 10px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    padding : 5px;
    margin: 5px;
    color: #333;
    font-size: 12px;
    border-radius: 20px;
    background: #f1f1f1;
    z-index: 100;
    border: #333 1px solid;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: none;
    gap: 10px;
}
.user-profile-item img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    padding:0;
    /* background-color: #333333f1; */
    background-color: #d9ecfff1;
    color: black;
    width: 200px;
    align-items: flex-start;
    z-index: 100;
}
.drop-down-icon{
    font-size: 15px;
    color: #007bff;
    transition: 0.3s;
}
.profile-menu-item{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    color: inherit;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: black 1px solid;
    align-items: center;
    font-size: 16px;
}
.profile-menu-item p{
    opacity: 1; /* Visible when active */
    transform: translateX(0); /* Slide to its original position */
    position: relative;
    left: 0;
    margin-left: 10px;
}
.profile-menu-item i{
    color: inherit;
}
.profile-menu-item:hover i{
    color: #007bff;
}
.profile-menu-item:hover{
    color: #007bff;
}
.profile-menu .active i {
    color: #007bff;
}
.profile-menu .active{
    color: #007bff;
}
.nav-icon i{
    font-size: 0;
    color: #818181;
    cursor: pointer;
    transition: all 0.3s;
}
.nav-icon i:hover{
    color: #333;
}
.nav-menu .menu-item {
    color: #818181;
}

.nav-menu .active {
    color: white;
    transition: 0.3s;
    background: #3797ff;
    border-radius: 20px;
    z-index: 100;
}
.nav-menu .active-search {
    color: white;
    transition: 0.3s;
    background: #3797ff;
    border-radius: 20px;
    z-index: 100;
}
.nav-menu .menu-item p {
    opacity: 0; /* Hidden by default */
    transform: translateX(-20px); /* Positioned to the left */
    transition: all 0.3s ease; /* Animation for visibility and position */
    margin: 0;
    font-size: 15px;
    position: absolute;
    left: -100px;
    padding: 5px;
}

.nav-menu .menu-item.active p {
    opacity: 1; /* Visible when active */
    transform: translateX(0); /* Slide to its original position */
    position: relative;
    left: 0;
}
.nav-menu .active i{
    color: white;
}
.switch-mode{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}
.mode-button{
    width: 60px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    margin-left: 10px;
    transition: 0.5s;
    background-color: white;
    box-shadow: inset 0px 0px 2px 0px #333;
}
.mode-button.dark-mode{
    box-shadow: inset 0px 0px 2px 0px white;
    background-color: #333;
}
.mode-button .mode-button-inner{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(0);
    background: radial-gradient(circle at 50% 30%,
    #FFDD33,
    #fffe00 30%,
    rgb(255 233 45) 50%,
    #ffdd00 70%,
    #fff700 85%, 
    #feff00 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px 0px yellow;
}
@media screen and (max-width: 700px){
    .user-profile-item>p{
        display: none;
    }
    .header .logo-search-container input {
        position: absolute;
        bottom: -52px;
        left: 0;
        margin: 0;
        width: 100%;
        border-radius: 0;
        background-color: #3798ffb7 !important;
        height: 50px;
        color: black !important;
    }
    .header .logo-search-container input::placeholder{
        color: white;
    }
    .search-result{
        top: calc(100% + 57px);
        width: 100%;
        left: 0;
    }
    .search-item{
        background-color: #3798ffb7;
    }
    .search-icon{
        font-size: 20px !important;
        padding: 5px 20px !important;
        color: #0060c7 !important;
        z-index: 100;
        cursor: pointer;
    }
    .search-container{
        position: inherit;
    }
}
@media screen and (max-width: 500px){
    .header{
        padding: 10px 20px;
    }
    .header .logo-search-container input {
        position: absolute;
        bottom: -52px;
        left: 0;
        margin: 0;
        width: 100%;
        border-radius: 0;
        background-color: #3798ffb7 !important;
        height: 50px;
        color: black !important;
    }
    .header .logo-search-container input::placeholder{
        color: white;
    }
    .search-result{
        top: calc(100% + 57px);
        width: 100%;
        left: 0;
    }
    .search-item{
        background-color: #3798ffb7;
    }
    .search-icon{
        font-size: 20px !important;
        padding: 5px 20px !important;
        color: #0060c7 !important;
        z-index: 100;
    }
    .notifications{
        right: 0;
        width: 80%;
    }
}

.profile-menu .active{
    color: #007bff;
}
.clear-search-icon{
    font-size: 15px;
    color: rgb(255, 83, 83);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    cursor: pointer;
}
.clear-search-icon:hover{
    color: rgb(255, 70, 70);
}


/* DARK MODE CSS */

.header.dark-mode{
    background-color:#333;
}
.header.dark-mode .logo-search-container input{
    background-color: #333;
    color: white;
    box-shadow: inset 0 0 1px 0 #eee;
}
.header.dark-mode .logo-search-container input::placeholder{
    color: #ccc;
}
.header.dark-mode .search-result{
    background-color: #333;
}
.header.dark-mode .search-item{
    background-color: #333;
    color: white;
}
.header.dark-mode .search-item:hover{
    background-color: #444;
}
.header.dark-mode .no-results{
    color: white;
}
.header.dark-mode .nav-menu .menu-item{
    color: white;
}
.header.dark-mode .nav-menu .menu-item i{
    color: white;
}
.header.dark-mode .notifications{
    background-color: #333;
}
.header.dark-mode .notification{
    background-color: #333;
    color: white;
}
.header.dark-mode .notification.not-seen{
    background-color: #263a50;
}
.header.dark-mode .notification:hover{
    background-color: #444;
}
.header.dark-mode .notification-data{
    color: white;
}
.header.dark-mode .notification-user-name{
    color: white;
}
.header.dark-mode .notification-time{
    color: #ccc;
}
.header.dark-mode .notification-content{
    color: #ccc;
}

.header.dark-mode .user-profile-item{
    background: #444;
    color: white;
}
.header.dark-mode .profile-menu{
    background: #222222f0;
    color: white;
}
.header.dark-mode .profile-menu-item{
    color: white;
}
.header.dark-mode .profile-menu-item:hover{
    background: #555;
}
.header.dark-mode .profile-menu-item p{
    color: white;
}
.header.dark-mode .profile-menu-item i{
    color: white;
}
.header.dark-mode .mode-button{
    background-color: #333;
}
.header.dark-mode .mode-button .mode-button-inner{
    transform: translateX(100%);
    background: url('../../assets/moon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px 0px #fff;
}
.header.dark-mode .nav-menu .active{
    background: #007bff;
    color: white;
}
.header.dark-mode .nav-menu .active i{
    color: white;
}
.header.dark-mode .nav-menu .active p{
    color: white;
}
.header.dark-mode .nav-menu .menu-item.active p{
    color: white;
}
.header.dark-mode .nav-menu .menu-item.active i{
    color: white;
}
.header.dark-mode .nav-menu .menu-item.active{
    background: #007bff;
}
.header.dark-mode .nav-menu .menu-item.active-search{
    background: #007bff;
}
.header.dark-mode .nav-menu .menu-item.active-search p{
    color: white;
}
.header.dark-mode .nav-menu .menu-item.active-search i{
    color: white;
}
.header.dark-mode .nav-menu .menu-item:hover i{
    color: black;
}

