.profile-view {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.profile-section {
    width: 100%;
    max-width: 720px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.profile-view .posts{
    max-width: 700px;
}
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #a3a3a3;
}

.profile-photo {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.profile-photo .profile-photo-preview {
    width: 100%;
    height: 100%;
}
.change-profile-photo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1111;
    border-radius: 50%;
    transition: 0.3s;
}
.profile-photo:hover .change-profile-photo{
    top: 0;
}
.change-profile-photo input{
    display: none;
}
.change-profile-photo-preview{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1111;
    left:0;
    top: 0;
}
.change-profile-photo-options{
    display: flex;
    gap: 10px;
}
.change-profile-photo-options .save,
.change-profile-photo-options .cancel{
    padding: 5px 10px;
    background-color: #488ffa;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}
.change-profile-photo-options .save:hover{
    background-color: #1877f2;
}
.change-profile-photo-options .cancel{
    background-color: #f54f4f;
}
.change-profile-photo-options .cancel:hover{
    background-color: red;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #1c1e21;
}

.profile-bio {
    font-size: 14px;
    color: #606770;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    min-width: 50%;
}

.bio-edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #1877f2;
}

.edit-bio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    width: 100%;
}

.bio-box {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    margin-bottom: 10px;
    background: aliceblue;
    resize: none;
    box-shadow: 0 0 6px 0px #a2a2a2;
    color: #333;
    font-size: 15px;
}

.edit-bio-options {
    display: flex;
    gap: 10px;
}

.edit-option {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #1877f2;
    color: white;
    cursor: pointer;
    text-align: center;
    flex: 1;
}

.cancel {
    background-color: #e4e6eb;
    color: #606770;
}

.profileOptions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
.friends-option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #eaeaea;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00000050;
    cursor: pointer;
    transition: 0.3s;
}
.friends-option:hover{
    background-color: #e2e1e1;
    box-shadow: 0px 0px 20px #00000091;
}
.friends-option p{
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}
.friends-option i{
    color: black;
    font-size: 15px;
}
.add-friend, .remove-friend, .accept-request, .remove-request, .cancel-request {
    padding: 8px 16px;
    background-color: #1877f2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
    font-size: 15px;
}
.accept-request {
    background-color: #4cd964;
}
.add-friend:hover{
    background-color: #0d6efd;
}
.accept-request:hover {
    background-color: #34d058;
}
.remove-friend, .remove-request, .cancel-request {
    background-color: red;
}
.remove-friend:hover, .remove-request:hover, .cancel-request:hover {
    background-color: #ff3333;
} 

.profile-friends, .profile-friend-requests {
    padding: 20px;
    border-bottom: 1px solid #a3a3a3;
}

.profile-friends-title, .profile-friend-requests-title, .posts {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1c1e21;
    text-align: left;
}
.profile-friends-title, .profile-friend-requests-title, .posts .profile-posts-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.profile-friends-list, .profile-friend-requests-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-friend, .profile-friend-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 200px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.profile-friend{
    height: 150px;
}
.friend-request-user-info{
    width: 100%;
    
}
.profile-friend:hover img,
.friend-request-user-info:hover img {
    transform: scale(1.1);
}
.profile-friend:hover .profile-friend-name,
.friend-request-user-info:hover .profile-friend-request-name {
    color: #1877f2;
}
.profile-friend:hover img{
    transform: scale(1.1);
}
.profile-friend:hover .profile-friend-name{
    color: #1877f2;
}
.profile-friend img, .profile-friend-request img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
    transition: 0.3s;
}

.profile-friend-name, .profile-friend-request-name {
    font-size: 14px;
    color: #1c1e21;
    text-align: center;
    word-break: break-word;
}

.profile-friend-request-options {
    display: flex;
    gap: 5px;
}

.accept, .reject {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.accept:hover {
    background-color: #1877f2;
}

.reject:hover {
    background-color: red;
}
.reject {
    background-color: #f54f4f;
}
.accept {
    background-color: #488ffa;
}
.show-all-friends {
    color: #1877f2;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

/* Media queries */
@media (max-width: 768px) {
    .profile-photo {
        width: 120px;
        height: 120px;
    }

    .profile-name {
        font-size: 20px;
    }

    .profileOptions {
        flex-direction: column;
    }

    .profile-friends-list, .profile-friend-requests-list {
        justify-content: center;
    }

    .profile-friend, .profile-friend-request {
        width: 200px;
    }

    .profile-friend img, .profile-friend-request img {
        width: 90px;
        height: 90px;
    }
}

/* DARK MODE CSS */

.body.dark-mode .profile-section {
    background-color: #464646;
    color: #fff;
}
.body.dark-mode .profile-header {
    border-bottom: 1px solid #333;
}
.body.dark-mode .profile-photo {
    border: 1px solid #333;
}
.body.dark-mode .profile-name {
    color: #fff;
}
.body.dark-mode .profile-bio {
    color: #ccc;
}
.body.dark-mode .bio-box {
    background: #333;
    color: #fff;
}
.body.dark-mode .friends-option{
    background: #333;
    color: #fff;
}
.body.dark-mode .profile-friends, .body.dark-mode .profile-friend-requests {
    background-color: inherit;
    color: #fff;
}
.body.dark-mode .profile-friends-title, .body.dark-mode .profile-friend-requests-title {
    color: #fff;
}
.body.dark-mode .profile-friend, .body.dark-mode .profile-friend-request {
    background-color: inherit;
    color: #fff;
}
.body.dark-mode .profile-friend img, .body.dark-mode .profile-friend-request img {
    border: 1px solid #333;
}
.body.dark-mode .profile-friend-name, .body.dark-mode .profile-friend-request-name {
    color: #fff;
}
.body.dark-mode .show-all-friends {
    color: #1877f2;
}
.body.dark-mode .posts{
    background-color: #464646;
    color: #fff;
}