#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 ;
  padding: 0;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
#app {
  width: 100vw;
  height: 100vh;
}
header {
  position: fixed; /* Sticks the header to the top */
  top: 0;
  /* width: 100%; */
  z-index: 1000; /* Ensure it's above other elements */
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main {
  position: relative;
  padding: 20px;
  margin: 0;
  display: flex;
  background-color: #eee;
}
@media screen and (max-width: 500px){
    #main{
        padding: 0;
    }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.view {
  width: 100%;
  min-height: 100vh;
}
text-area,
.text-container{
  word-wrap: break-word !important;
  word-break: break-word !important;
}
i {
  color: #007bff;
}
button {
  background-color: #007bff;
}

textarea::-webkit-scrollbar {
  width: 0; /* Width of the scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

textarea::-webkit-scrollbar-thumb {
  background: #007bff; /* Background color of the scrollbar thumb */
  transition: 0.5s;
  cursor: pointer;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #004b9b; /* Color of the scrollbar thumb on hover */
}